@import url("https://fonts.googleapis.com/css?family=Lato:300,400,800,900");
body {
  height: 100%;
  margin: 0;
  overflow: hidden; }

.box {
  font-family: 'Lato', sans-serif; }
  .box #sidebar {
    height: 100vh;
    background-color: #4d394b;
    padding-top: 10px;
    padding-left: 35px;
    color: white; }
    .box #sidebar .bottom-header {
      margin-top: -10px; }
      .box #sidebar .bottom-header #availability {
        font-size: 8px;
        color: #4c9689;
        margin-right: 4px; }
      .box #sidebar .bottom-header #username {
        font-size: 10px;
        color: #ab9ba9;
        font-weight: 400; }
    .box #sidebar #team-name {
      font-size: 14px;
      font-weight: 900; }
    .box #sidebar .section {
      color: #cac4c9;
      font-size: 12px;
      font-weight: 400; }
    .box #sidebar .has-notifications > span {
      color: white;
      font-weight: 800; }
    .box #sidebar .active {
      background-color: #4c9689; }
    .box #sidebar #channels {
      margin-top: 20px; }
      .box #sidebar #channels .channel-list {
        font-size: 12px; }
        .box #sidebar #channels .channel-list .channel {
          color: #ab9ba9;
          font-weight: 400; }
          .box #sidebar #channels .channel-list .channel:hover {
            width: 100%;
            background-color: #3e313c; }
    .box #sidebar #direct-messages {
      margin-top: 20px; }
      .box #sidebar #direct-messages .users-list {
        font-size: 12px; }
        .box #sidebar #direct-messages .users-list .user {
          color: #ab9ba9;
          font-weight: 400; }
          .box #sidebar #direct-messages .users-list .user:hover {
            width: 100%;
            background-color: #3e313c; }
  .box #main {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: 0%;
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 0;
    padding-top: 10px; }
    .box #main .user-header {
      display: block;
      flex-basis: 40px;
      border-bottom: 1px solid rgba(160, 160, 162, 0.7); }
      .box #main .user-header .channel-name {
        margin-left: 15px;
        font-weight: 900; }
    .box #main .profile {
      position: absolute;
      width: 300px;
      background: black;
      height: 100%;
      right: 0; }
    .box #main .content {
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column-reverse;
      flex-basis: 0%;
      flex-shrink: 1;
      flex-grow: 1;
      box-sizing: border-box; }
    .box #main .chatbox {
      display: block;
      position: relative;
      border: 2px solid rgba(160, 160, 162, 0.7);
      border-radius: 6px;
      height: 40px;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 20px; }
    .box #main .chatbox:focus {
      outline: none;
      border: 2px solid #717274; }
    .box #main .message {
      font-size: 15px;
      font-weght: 400;
      margin-left: 20px;
      position: relative;
      display: block; }
      .box #main .message .name {
        font-size: 15px;
        font-weight: 800;
        color: #c386df;
        margin-right: 5px; }
      .box #main .message .time {
        font-size: 12px;
        font-weight: 300;
        color: #717274;
        margin-right: 10px; }
    .box #main [contenteditable=true]:empty:before {
      content: attr(placeholder);
      display: block;
      /* For Firefox */
      color: rgba(160, 160, 162, 0.7); }

/*# sourceMappingURL=styles.css.map */
